body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-menus {
    border-top: 2px solid #333;
    padding-top: 10px;
    padding-bottom: 20px;
}

    .nav-menus .nav-pills > li > a {
        background: transparent;
        color: #333;
    }

        .nav-menus .nav-pills > li > a:hover {
            background: #eaeaea;
            color: #333;
        }

    .nav-menus .nav-pills > .active > a,
    .nav-menus .nav-pills > .active > a:hover,
    .nav-menus .nav-pills > .active > a:focus {
        background: #333;
        color: #fff;
    }