@{
    ViewBag.Title = "Home Page";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height: 500px ; width:320%" src="~/Images/three.jpg" alt="First slide">
            <div class="carousel-caption">
                
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height: 500px ; width:320%" src="~/Images/four.png" alt="Second slide">
            <div class="carousel-caption">
                
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height: 500px ; width:320%" src="~/Images/five.png" alt="Third slide">
            <div class="carousel-caption">
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
    <div class="main-text hidden-xs hidden-sm">
        <div class="col-md-12 text-center">
            <h1>Welcome</h1>
            <h4>Please fill out this survey to let us have a better understanding of your preferences </h4>
            <div class="clearfix"></div>
            <div class="carousel-btns">
                <a class="btn btn-md btn-default" href="~/Home/FillTheSurvey.cshtml">Fill out survey</a>
                <a class="btn btn-md btn-default" href="~/Home/ViewResults.cshtml">View Survey Results</a>
            </div>
        </div>
    </div>
</div>